language: php

env:
  - LARAVEL_VERSION=6.*

php:
  - 7.2
  - 7.3
  - 7.4

matrix:
  include:
    - php: 7.4
      env: LARAVEL_VERSION=6.*
    - php: 7.4
      env: LARAVEL_VERSION=5.5.*

before_install:
  - composer require "laravel/framework:${LARAVEL_VERSION}" --no-update

addons:
  chrome: stable

services:
  - xvfb

install:
  - travis_retry composer update --no-interaction --prefer-dist --no-suggest

before_script:
  - ./vendor/bin/dusk-updater update
  - ./vendor/laravel/dusk/bin/chromedriver-linux &
